* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    list-style: none;
  }
  
  body{
      background-color: #edf6f9;
    color: #22223b;
  }
  
  input{
    text-align: center;
      background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid #22223b;
    width: 60%;
    max-width: 500px;
    outline: none;
    color: #b7c2c5;
        margin-left: 30px;
  }
  
  .titulo , .butao{
  text-align: center;
  }
  
   .checkout{
      max-width: 600px;
      margin: 0 auto;
      margin-bottom: 20px;
      padding: 0 20px
  }
  
  .subt{
     max-width: 600px;
      margin: 0 auto;
      margin-top: 20px;
      padding: 0 20px  
  }