div{
    background-color: #edf6f9;
    color: #22223b;
    font-family: "Nunito", sans-serif;
  }
  
  .car{
        display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
  }
  .car > h2{
    margin-right: 10px;
  }
  
  .car > span{
     font-weight: bold;
  }
  .evento{
      display: block;
      padding: 0 20px;
      margin: 0 auto;
      max-width: 600px;
  }
  
  .eventoname{
    text-align: center;
    font-size: 1.5rem;
  }
  
  .eventoimg{
    width: 100%;
    height: 200px;
    max-width: 380px;
    margin: 30px auto;
    display: block;
  }