.cabecalho-container {
  justify-content: space-around;
  padding: 20px;
}

.titulo {
  font-size: 1.5rem;
  margin-right: 20px;
}

.usuario-container {
  display: flex;
  flex-direction: column;
}

.menu-container {
  margin: 15px;
  padding: 10px;
}

.menu-conteudo {
  width: 80%;
  justify-content: space-around;
}

.menu-item {
  font-size: 0.8rem;
}
