.botoes-container {
  text-align: center;
  margin-top: 30px;
}

.botao {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 1px;
  padding: 4px;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 2px;
}

.botao-perigo {
  background-color: transparent;
  border: 1px solid #d61f1f;
  color: #d61f1f;
}

.botao-sucesso {
  background-color: transparent;
  border: 1px solid #017a09;
  color: #017a09;
}

.botoes-container > a:nth-of-type(2) {
  margin-left: 20px;
}

.botoes-container > a:nth-of-type(3) {
  margin-left: 20px;
}
