.centro{
    text-align: center;
}

.titulo, .subtitulo{
    text-align: center;
    padding: 0 20px;
}

.titulo {
    margin-top: 50px;
}

.subtitulo{
    margin-top: 30px;
    margin-bottom: 20px;
}

.input {
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid #22223b;
    margin-bottom: 20px;
    width: 60%;
    max-width: 375px;
    outline: none;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
}

.inputValor{
    max-width: 200px;
}

.inputQuantidade{
    max-width: 200px;
}

.inputCep{
    max-width: 200px;
    font-size: 20px;
}

.inputData{
    max-width: 200px;
    font-size: 17px;
}

.container-buttons{
    margin-top: 20px;
    margin-bottom: 30px;
}

.primary-content-input{
    display: block;
    font-size: 0.6rem;
}

select{
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 2px solid #22223b;
    width: 60%;
    max-width: 75px;
    outline: none;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
}

/* select[nome = "genero"]{
    max-width: 100px;
} */

select[nome = "evento"]{
    max-width: 375px;
}


.button {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #22223b;
    border-radius: 1px;
    padding: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    touch-action: start;
}

.button1:hover {

    background-color: rgba(200, 200, 200, 25);
}

