.eventos-criados-container > h2 {
  font-size: 9vw;
}

.eventos-criados-container > div > h3{
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 30px;
  font-size: 8vw;
}

.eventos-criados-container > div > a{
  font-size: 4vw;
}

@media (min-width: 445px){
  .eventos-criados-container > h2 {
    font-size: 40px;
  }
}

@media (min-width: 560px) {
  .eventos-criados-container > div > h3 {
    font-size: 40px;
  }
}

@media (min-width: 620px){
  .eventos-criados-container > div > a{
    font-size: 25px;
  }
}