.checkout-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.checkout-quantity > h2 {
  margin-right: 10px;
}

.checkout-quantity > span{
  font-weight: bold;
}

.checkout-form {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 20px
}

.checkout-form > .primary-content-input {
  margin-bottom: 30px;
  display: block;
}


.finish-checkout-title {
  text-align: center;
  margin: 30px 0;
}

.event-container-checkout > .event-name{
  font-size: 1.5rem;
}

.event-container-checkout{
  display: block;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 600px;
}

