@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  list-style: none;
}

html {
  background-color: #edf6f9;
  color: #22223b;
  font-family: "Nunito", sans-serif;
}

body {
  font-size: 20px;
}

.centralize-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.active-anchor {
  font-weight: bold;
}

.anchor {
  color: #22223b;
}

.anchor:hover {
  border-bottom: 2px solid #22223b;
}

.header-wrapper {
  padding: 30px;
}

.menu-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.menu-content {
  padding: 10px;
}

.menu-item {
  font-size: 1rem;
}

.title {
  font-size: 3rem;
}

.enter-user {
  font-size: 1.3rem;
}

.primary-content {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.primary-content-title {
  margin-bottom: 30px;
}

.primary-content-input {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #22223b;
  width: 60%;
  max-width: 500px;
  outline: none;
}

.primary-content-input {
  color: #b7c2c5;
}

.btn {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #22223b;
  border-radius: 1px;
  padding: 5px;
}
