@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* variaveis */
:root {
  --main-color: #22223b;
  --secundary-color: #ecf5f9;
}

/* geral */
* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  list-style: none;
}

html,
body {
  height: 100%;
}

html {
  background-color: var(--secundary-color);
  color: var(--main-color);
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

body {
  max-width: 1200px;
  max-height: 2000px;
  margin: 0 auto;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a,
span {
  font-size: 1rem;
  color: var(--main-color);
}

label {
  font-size: 0.8rem;
}

main {
  flex-grow: 1;
}

/* classes reutilizaveis */
.centralizar-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centralizar-x {
  margin: 0 auto;
}

.centralizar-y {
  flex-direction: column;
}

.subtitulo {
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 50px;
}

.ancora {
  color: var(--main-color);
  cursor: pointer;
}

.ancora:hover {
  border-bottom: 2px solid var(--main-color);
}

.ancora-ativa {
  font-weight: bold;
}

.formulario {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 20px;
}

.input-box {
  background-color: transparent;
  border-bottom: 2px solid var(--main-color);
  width: 70%;
  max-width: 390px;
  font-size: 0.8rem;
  outline: none;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 0;
  display: block;
  text-align: left;
}

.input-box::placeholder {
  color: #b7c2c5;
}

.listagem-container-empresa > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.listagem-container-empresa .botoes-container {
  margin-top: 0;
  margin-left: 30px;
}

.listagem-container-empresa .subtitulo {
  margin-top: 0;
  margin-bottom: 0px;
}

.listagem-container-empresa p {
  margin-left: 30px;
}

.loader {
  width: 100px;
  height: 100px;
}

.input-box-error {
  margin-bottom: 0;
}

.input-box-error ~ span {
  color: red;
  display: block;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 0.6rem;
}

@media (min-width: 768px) {
  html {
    font-size: 23px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 26px;
  }
}
