.ingresso-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0 20px;
}

.evento-nome {
  text-align: center;
}

.ingresso-detalhe-item {
  margin-bottom: 15px;
  font-size: 0.8rem;
}

.ingresso-imagem {
  width: 100%;
  height: 200px;
  max-width: 380px;
  margin: 30px auto;
  display: block;
}
